/* Initially hide the thumbnail, and only show it when the overlay is active */
.ytd-thumbnail{
    opacity: 0;
}

.kahf-tube-loading-indicator {
    background: #1c2020;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.kahf-tube-loader {
    margin: 0 auto;
    width: 60px;
    height: 50px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
}
.kahf-tube-loader > div {
    height: 100%;
    width: 8px;
    display: inline-block;
    float: left;
    margin-left: 2px;
    -webkit-animation: delay 0.8s infinite ease-in-out;
    animation: delay 0.8s infinite ease-in-out;
}
.kahf-tube-loader .bar1 {
    background-color: #754fa0;
}
.kahf-tube-loader .bar2 {
    background-color: #09b7bf;
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}
.kahf-tube-loader .bar3 {
    background-color: #90d36b;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
.kahf-tube-loader .bar4 {
    background-color: #f2d40d;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.kahf-tube-loader .bar5 {
    background-color: #fcb12b;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}
.kahf-tube-loader .bar6 {
    background-color: #ed1b72;
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

@-webkit-keyframes delay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.05);
    }
    20% {
        -webkit-transform: scaleY(1);
    }
}
@keyframes delay {
    0%,
    40%,
    100% {
        transform: scaleY(0.05);
        -webkit-transform: scaleY(0.05);
    }
    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
    }
}

.caution-container {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.compact-container {
  bottom: 15%;
}

.large-container {
  bottom: 31%;
}

.caution-box {
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(53, 53, 55, 0.82);
  border-radius: 5px;
}

.compact-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1rem;
  margin: 0.5rem;
  color: #383838;
}

.large-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin: 1.5rem;
  color: #383838;
}

.caution-message-compact-caution {
  font-size: 0.8rem;
  line-height: 1rem;
}

.caution-message-large-caution {
  font-size: 1.1rem;
  line-height: 1.4rem;
}

.caution-message {
  color: #FFFFFF;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
}
